@import url(_font.scss);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: block;
    font-family: "Roboto";
    margin: 0 auto;
  }
  
  $color-violet: #6F2DFF;
  
  @mixin text_style ($f-f, $f-s, $l-h, $f-w, $coloring) {
    font-family: $f-f;
    font-size: $f-s;
    line-height: $l-h;
    font-weight: $f-w;
    color: $coloring;
  }

  .section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

  }

  .header-hero {
    background-image: url('../img/hero_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 200px;
     }

    .header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 15px 30px;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 135px;
    }

    .nav_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 42px;
    align-items: center;
     .link_header {
        @include text_style ('Roboto', 14px, 14px, 400, #1C1C1C) ;
        text-decoration: none;
        transition: .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    }

    .logo_header {
        width: 100%;
        max-width: 80px;
    }

    .header_interaction {
        width: 100%;
        max-width: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button_book_link {
        text-decoration: none;
    }

    .button_book-demo {
        max-width: 160px;
        border-color: #6F2CFF;
        border-radius: 20px;
        padding: 12px 35px 12px 35px;
        background-color: #6F2CFF;
        @include text_style ('Roboto', 14px, 14px, 400, #FFFFFF);
        transition: .4s ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .login_link {
        text-decoration: none;
        @include text_style ('Roboto', 14px, 14px, 400, #1C1C1C);
        transition: .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }

    .text_hero {
        margin-left: 115px;
    }


    .suptitle-text_hero {
    @include text_style ('Roboto', 15px, 21px, 400, #000000) ;
    margin-bottom: 20px;
    }

    .title-text_hero {
    @include text_style ('Roboto', 54px, 61px, 700, #000000) ;   
    }
    .violet {
        color: $color-violet;
        margin-bottom: 35px;
    }

    .descrip-text_hero {
        @include text_style ('Roboto', 18px, 30px, 400, #000000) ;
        max-width: 440px;
        margin-bottom: 15px;

        .fatty_text {
            font-weight: 900;
        }
    }

    .form_input_email {
        width: 100%;
        max-width: 500px;
    }

    .for_email {
        width: 100%;
        max-width: 270px;
        padding: 13.2px 125px 14px 20px;
        border-radius: 28px 0 0 28px;
        border: 1px solid #6F2CFF; 
        box-shadow: #6F2CFF;
        opacity: 0.6;
        &::placeholder {
        color:gray;
        }
        &:focus {
        color: #000000;
        opacity: 0.9;
        }
    }
    .button_email {
        max-width: 190px;
        border-radius: 0 28px 28px 0;
        padding: 11px 45px 13px 45px;
        background-color: #6F2CFF;
        border: none;
        @include text_style ('Roboto', 15px, 21px, 400, #FFFFFF);
        margin-left: -5px;
        cursor: pointer;
    }

    .achievement {
        text-align: center;
         align-items: center;
        padding-top: 35px;
    }

    .partners_brands_title { 
         @include text_style ('Roboto', 18px, 30px, 700, #1C1C1C);
         margin-bottom: 32px;
         
    }

    .brands_logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1210px;
        margin: 0 auto;
        margin-bottom: 28px;
        flex-wrap: wrap;
          .brand_logo_item {
            max-width: 110px; ///исправить////*
          }
    }

    .link_customers {
    display: inline-block;
    @include text_style ('Roboto', 16px, 24px, 700, #1C1C1C);
    text-decoration: none;
    position: relative;
    margin-bottom: 110px;
    &::after {
        content: ' ';
        border-bottom: 3px solid #6F2CFF;
        position: absolute;
        width: 170px;
        bottom: -2px;
        left: -7px;
    }

    }

    .achievement_left-block {
        padding-top: 180px;
       
        width: 100%;
        max-width: 50%;
        text-align: left;
    }

    .achievement_title {
        @include text_style ('Roboto', 40px, 45px, 700, #1C1C1C);
        width: 100%;
        max-width: 400px;
        text-align: left;
        margin-bottom: 58px;
    }

    .achievement_link {
        margin-left: 22px;
    }

    .achievement-button {
        @include text_style ('Roboto', 15px, 15px, 400, #FFFFFF);
        padding: 12px 45px 12px 45px;
        max-width: 187px;
        width: 100%;
        margin-bottom: 55px;
    }

    .over-link_text {
        @include text_style ('Roboto', 15px, 20px, 400, #000000);
        margin-bottom: 8px;

    }
    .link_report {
        @include text_style ('Roboto', 15px, 15px, 400, #000000);
        text-decoration: none;
        position: relative;
        margin-bottom: 185px;
        display: inline-block;
        &::after {
        content: ' ';
        border-bottom: 2px solid #000000;
        position: absolute;
        width: 110px;
        bottom: -2px;
        left: 0px;
        }
    }

    .achievement_block {
        width: 100%;
        max-width: 1240px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 95px;
    }

    .achievement_right-block {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .achievement_column {
        width: 50%;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #E0E0E0;
        padding-left: 17px;
        .achievement_column-item {
        height: 33%;
        width: 60%;
        &:first-child {
        padding-top: 8px;
        }
        }
        .column-item_title {
            @include text_style ('Roboto', 40px, 45px, 700, #000000); 
            text-align: left;    
        }

        .column-item_text {
            @include text_style ('Roboto', 15px, 22px, 400, #000000); 
            text-align: left; 
            width: 220px;   /// исправить ////
        }
    }

    .commerceal_block {
        width: 100%;
        margin: 0 auto;
    }

    .commerceal_block_title {
        @include text_style ('Roboto', 40px, 45px, 700, #000000);   
        text-align: center;
        margin-bottom: 22px;
    }

    .commerceal_block_subtitle {
        @include text_style ('Roboto', 18px, 30px, 400, #000000);   
        text-align: center;
        margin-bottom: 58px;
        display: inline-block;

    }

    .commerceal_items-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        gap: 70px;
        flex-wrap: wrap;
        padding-bottom: 90px;
    } 

    .commerceal_item {
    width: 100%;
    max-width: 320px;   
    }

    .commerceal_items-icon {
        width: 100%;
        max-width: 50px;
    }

    .commerceal_items-title {
        @include text_style ('Roboto', 13px, 23px, 700, #000000);  
        text-align: center; 
        margin-bottom: 16px;
    }
    .commerceal_items-text {
        @include text_style ('Roboto', 15px, 22px, 400, #000000);  
        text-align: center; 

    }

    .screen {
        background-color: #F5F5F5;
        padding-top: 95px;
        padding-bottom: 100px;
        .screen_title {
        @include text_style ('Roboto', 40px, 45px, 700, #000000);  
        text-align: center; 
        margin-bottom: 25px;
        }
        .screen_subtitle {
        @include text_style ('Roboto', 15px, 30px, 400, #000000);  
        text-align: center; 
        margin-bottom: 90px;
        }
    }

     .screen_image_wrapper {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 75px;

     }


    .screen_image {
        width: 100%;
        max-width: 1000px;
    }


    .screen_buttons_wrap {
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: space-between;

    }

    .screen_button {
        @include text_style ('Roboto', 15px, 15px, 400, $color-violet);
        padding: 12px 45px 12px 45px;
        max-width: 187px;
        width: 100%;
        background-color: #FFFFFF;
        border: none;
        border-radius: 30px;
    }

    .button_products {
        @include text_style ('Roboto', 15px, 15px, 400, #FFFFFF);
        padding: 12px 45px 12px 45px;
        max-width: 187px;
        width: 100%;
        background-color: $color-violet;
        border: none;
        border-radius: 30px;
        transition: .4s ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }


    .can_do {
        padding-top: 95px;
        margin: 0 auto;
    }

    .can_do-title {
        @include text_style ('Roboto', 40px, 45px, 700, #000000);  
        text-align: center; 
        margin-bottom: 55px;
    }

    .can_do_items-wrapper {
     width: 100%;
     max-width: 1020px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 0 auto;
     margin-bottom: 105px;
        
    }

    .can_do_item {
        width: 100%;
        max-width: 275px;
        margin-bottom: 95px;
        text-align: center;
             .can_do_icon {
                width: 100%;
                max-width: 50px;
                max-height: 50px;
                margin: 0 auto;
             }

             .can_do_titles {
                @include text_style ('Roboto', 19px, 45px, 700, #000000); 
             }
        }

    .can_do_item-text {
        @include text_style ('Roboto', 15px, 22px, 400, #000000);
        display: inline-block;
        max-width: 260px;
     }

    .wide_text {
        max-width: 275px;
    }

.trusted_brands {
    background-color: #F5F5F5;
    padding-top: 90px;
    padding-bottom: 105px;
    text-align: center;
    .trusted_brands_title {
        @include text_style ('Roboto', 40px, 45px, 700, #000000);  
        margin-bottom: 75px;  
    }
}
.trusted_brands_wrapper {
    width: 100%;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    &::before {
        content:' ';
        width: 26px;
        height: 46px;
        position: absolute;
        background-image: url('../img/arrow-before.svg');
        background-repeat: no-repeat;
        top: 189px;
        left: -40px;
        cursor: pointer;
        }
    &::after {
        content:' ';
        width: 26px;
        height: 46px;
        position: absolute;
        background-image: url('../img/arrow-after.svg');
        background-repeat: no-repeat;
        top: 189px;
        right: -40px;
        cursor: pointer;

    }

    .trusted_brands-item {
        width: 100%;
        max-width: 320px;
        text-align: center;
        background-color: #FFFFFF;
        padding-bottom: 60px;
        .trusted_brands-photo {
        width: 100%;
        max-width: 320px;
        margin-bottom: 25px;
        }
    }
}

.trusted_brands-logo {
    width: 100%;
    max-width: 150px;
    margin-bottom: 25px;
    } 
.trusted_brands-logo3 {
    width: 100%;
    max-width: 65px;
    margin-bottom: 25px;
}
.trusted_brands-text {
    margin: 0 auto;
    max-width: 210px;
    @include text_style ('Roboto', 18px, 22px, 700, $color-violet); 
}

.specialize {
    padding-top: 95px;
    padding-bottom: 100px;
}
.specialize_title {
    @include text_style ('Roboto', 40px, 45px, 700, #000000); 
    margin-bottom: 12px; 
    text-align: center;
}
.specialize_subtitle {
    @include text_style ('Roboto', 18px, 30px, 400, #000000); 
    margin-bottom: 65px; 
    text-align: center;
}
.specialize_items_wrapper {
    width: 100%;
    max-width: 980px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.specialize_item {
    width: 100%;
    max-width: 460px;
    background-color: #17002E;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 12px 30px 0 50px;
}

.specialize_item-header {
    position: relative;
}

.specialize_icon {
    position: absolute;
    top: -13px;
    left: 0;
    width: 50px;
    height: 50px;
}

.specialize_item-title {
    @include text_style ('Roboto', 18px, 25px, 700, #FFFFFF); 
    margin-bottom: 30px;
    margin-left: 70px;
    margin-top: 28px;
}

.specialize_item-text {
    @include text_style ('Roboto', 15px, 22px, 400, #FFFFFF); 
    margin-bottom: 8px;
    max-width: 366px;
}

.specialize_under-text {
    @include text_style ('Roboto', 15px, 15px, 400, #FFFFFF); 
    position: relative;
    display: inline-block;
    margin-bottom: 34px;
    &::after {
        content: ' ';
        width: 110%;
        border-bottom: 2px solid #FFFFFF;
        position: absolute;
        bottom: -9px;
        left: 0;
    }
}
.explore {
margin-bottom: 29px;

}

.connected_ecosystem { 
background-color: #F5F5F5;
padding: 40px 90px 20px 110px;
display: flex;
justify-content: space-between; }

.connected_ecosystem_title {
@include text_style ('Roboto', 40px, 45px, 700, #000000); 
margin-top: 130px;
margin-bottom: 45px;
}
.connected_ecosystem_subtitle {
@include text_style ('Roboto', 13px, 30px, 400, #000000);  
max-width: 590px;  
margin-bottom: 11px;
}
.under_sub {
margin-bottom: 74px;
}

.ecosystem_button {
    padding: 13px 34px 15px 34px;
    max-width: 205px;

}

.button_ecosystem_link {
@include text_style ('Roboto', 14px, 14px, 700, #FFFFFF);  
}

.connected_ecosystem-photo {
    width: 100%;
    max-width: 570px;
}


.book_demo {
    padding-top: 95px;
    background-image: url('../img/book\ demo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
     .book_demo_title {
        @include text_style ('Roboto', 40px, 45px, 700, #FFFFFF); 
        margin-bottom: 40px;
        
     }

}

.book_demo-form {
    display: block;
    margin: 0 auto;

}

.bookdemo_input {
    padding: 13.5px 125px 13.5px 20px;
    border: 1px solid #FFFFFF; 
    box-shadow: #FFFFFF;
    margin-bottom: 105px;
    opacity: 1;
    &::placeholder {
    color:gray;
    }
    &:focus {
    color: #000000;
    opacity: 0.9;
    }
}

.connect_social {
    text-align: center;
}
.connect_social-image {
    width: 100%;
    max-width: 140px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.connect_social_title {
    @include text_style ('Roboto', 16px, 45px, 400, #1C1C1C); 
    margin-bottom: 25px;   
}

.social_link {
    text-decoration: none;
    color: #000000;

}

.social_icon {

}
.social_icon {
    margin-left: 30px;
    &::before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    }
}

.icon-fb {
margin-left: 0; 
&::before { 
content: '\f30c';
} }

.icon-tw { 
&::before { 
content: '\f309'; }
}

.icon-in {
&::before {  
content: '\f318';
} }

.icon-inst {
    &::before {  
    content: '\f16d';
 } 
}

.icon-yb {
    &::before {  
    content: '\f16a';
     }    
}

.social-icon_wrapper {
    margin-bottom: 45px;
}

.footer {
    background-color: #20003C;
    padding-bottom: 80px;
    padding-top: 55px;
    
}


.footer_link_wrapper {
    padding-left: 158px;
    display: flex;
    justify-content: space-between;
    padding-right: 128px;
    padding-bottom: 45px;
}


.footer_block_capabilities {
    width: 100%;
    max-width: 385px;
    display: flex;
    justify-content: space-between;
}

.title_footer {
    margin-bottom: 30px;
    @include text_style ('Roboto', 16px, 20px, 700, #FFFFFF);  
}


.capabilities_link, .footer_link {
    @include text_style ('Roboto', 14px, 18px, 400, #FFFFFF);  
    text-decoration: none; 
    display: inline-block;
    margin-bottom: 11px;
    max-width: 165px;
}

.capabilities_left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.capabilities_right-column {
    width: 50%;
    display: flex;
    flex-direction: column; 
    padding-top: 50px;
}

.footer_block_products {
    width: 100%;
    max-width: 192px;
    display: flex;
    flex-direction: column; 
}

.footer_block_resources {
    width: 100%;
    max-width: 192px;
    display: flex;
    flex-direction: column; 
}

.footer_block_company {
    width: 100%;
    max-width: 192px;
    display: flex;
    flex-direction: column; 
}

.last_footer_link {
    margin-bottom: 30px;
}

.footer_logo {
    text-align: center;
    .logo_footer {
        margin-bottom: 25px;
    }
    .footer_logo_subtext {  
    @include text_style ('Roboto', 13px, 30px, 400, #FFFFFF); 
    }
}

.footer_icon-logo {
    position: relative;
    &::before {
    content: ' ';
    width: 22px;
    height: 18px;
    background-image: url('../img/world_footer.svg');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 596px;
    }
}